body {
	padding:0;
	margin:0;
	background-image:url(./assets/img/grid.png);
}
#toolbar {
	border:1px solid black;
	padding:10px;
	background-color:rgb(0,112,201);/* Azure blue*/
	position:absolute;
	left:0;
	top:0;
	width:100%;
}
.palette-item {
	display:inline-block;
	border:1px solid black;
	border-radius:5px;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	margin:3px;
	min-width:50px;	
	max-width:150px;
	background-color:rgb(50,152,251);
	text-align:center;
	color:white;
	text-decoration:none;
	font-family: Helvetica,arial,sans-serif;
}
.palette-item:hover {
	box-shadow:#fff 0px 0px 10px;
	border:1 solid transparent;
}
#mainDrawingArea{
	width:100%;
	height:1600px;
	border:1px solid red;
	background-color:transparent;
}
.node {

	background-color:rgb(230,230,230);
	background: rgb(68,60,255);
	background: linear-gradient(180deg, rgba(68,60,255,1) 0%, rgba(141,140,255,1) 100%);

	color:white;
	border:2px solid black;
	font-family:Helvetica,arial,sans-serif;
	text-align:center;
	font-size:16pt;
	padding:5px;
	box-sizing:border-box;

}
.node-lb {
	background: rgb(68,60,255);
	background: linear-gradient(180deg, rgba(68,60,255,1) 0%, rgba(141,140,255,1) 100%);
}
.node-vm {
	background: rgb(68,60,255);
	background: linear-gradient(180deg, rgba(255,60,255,1) 0%, rgba(255,140,255,1) 100%);
}
.node-db {
	background: rgb(68,60,255);
	background: linear-gradient(180deg, rgba(255,60,60,1) 0%, rgba(255,140,140,1) 100%);
}
.node-storage {
	background: rgb(68,60,255);
	background: linear-gradient(180deg, rgba(68,255,60,1) 0%, rgba(141,255,140,1) 100%);
}
.node-rg {
	background: rgb(68,60,255);
	background: linear-gradient(180deg, rgba(255,60,255,1) 0%, rgba(255,140,255,1) 100%);
}

#canvas {
	position:absolute;
	left:0;
	top:0;
	width:2500;
	height:2500;

}
#preview {
	position:absolute;
	left:0;
	top:0;
	width:2500;
	height:2500;

}
.property-editor label {
	display:inline-block;
	width:40%;
}
.property-editor input {
	display:inline-block;
	width:50%;
}
.property-editor {
	width:200px;
	height:300px;
	padding:10px;
	border: 1px solid black;
	background-color:rgb(230,230,230);
	


}
#peTitle {
	font-family: helvetica;
	padding: 10px;
	background-color: #e0e0ee;
	border: 1px solid black;
	text-align: center;
	cursor: move;
}
